receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

  # Add resource attributes to all telemetry data
  resource:
    attributes:
      - key: environment
        value: dev
        action: insert

exporters:
  # Traces to Tempo and Jaeger
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true
  otlp/jaeger:
    endpoint: jaeger-all-in-one:4317
    tls:
      insecure: true

  # Metrics to Prometheus via Remote Write (or use prometheusremotewrite exporter)
#  prometheusremotewrite:
#    endpoint: http://prometheus:9090/api/v1/write
  prometheus:
    endpoint: "0.0.0.0:8889"
    namespace: otel

  # Logs to Loki
  loki:
    endpoint: http://loki:3100/loki/api/v1/push

  # Debug - optional, for troubleshooting
  logging:
    loglevel: debug

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, resource]
      exporters: [otlp/tempo, otlp/jaeger]
    metrics:
      receivers: [otlp]
      processors: [batch, resource]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: [batch, resource]
      exporters: [loki, logging]