receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

  memory_limiter:
    check_interval: 1s
    limit_mib: 512

#  resource:
#    attributes:
#      - key: service.name
#        action: upsert
#        value: otel-collector

exporters:
  # Traces to Tempo and Jaeger
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

  otlp/jaeger:
    endpoint: jaeger-all-in-one:4317
    tls:
      insecure: true

  # Metrics to Prometheus via Remote Write (or use prometheusremotewrite exporter)
#  prometheusremotewrite:
#    endpoint: http://prometheus:9090/api/v1/write
  prometheus:
    endpoint: "0.0.0.0:8889"
    namespace: default
    resource_to_telemetry_conversion:
      enabled: true

  # Logs to Loki
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true

  # Debug exporter (reemplaza logging)
  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlp/tempo, otlp/jaeger, debug]

    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [prometheus, debug]

    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/loki, debug]

  telemetry:
    logs:
      level: info